.container {
  max-width: 900px;
  margin: auto;
}

body {
  font-family: sans-serif;
}

.row {
  display: flex;
  justify-content: center;
}

.column-full {
  flex-basis: 100%;
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

.column-one-fourth {
  flex-basis: 25%;
}

.column-two-third {
  flex-basis: calc(200%/3);
}

img {
  width: 100%;
}
