.row {
  display: flex;
}

img {
  object-fit: cover;
  width: 100%;
}

.mtns {
  height: 600px;
  width: 100%;
}

.col-full {
  flex-basis: 100%;
}

.positioned {
  position: relative;
}

.title {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  font-size: 3rem;
  color: rgb(58 55 55);
}

span {
  color: rgb(37 37 109);
}
